<!-- Content -->
<div class="container mt-3">
    <h1 class="text-center">Chào mừng bạn đến với BookStore - Nơi nâng tầm tri thức Việt</h1>
</div>
<div class="pt-4" style="min-height: calc(100vh - 130px);">
    <div class="container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/sach.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/nhung-cuon-sach-van-hoc-hay.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/banner1.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Khu Vực Sản Phẩm -->
        <hr>
        <h3 class="text-md-start">Danh Mục Sách Bán Chạy</h3>
        <hr>
        <div class="row">
            <!-- box sp -->
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/dacnhantam86.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Đắc Nhân Tâm - Dale Carnegie</h5>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/ctcg.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Cuốn Theo Chiều Gió - Margaret Mitchell</h5>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/nhagiakim.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Nhà Giả Kim - Paulo Coelho</h5>
                                <br>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/bo-gia_1_1.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Bố Già - Mario Puzo</h5>
                                <br>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 class="text-md-start">Danh Mục Sách Mới</h3>
        <hr>
        <div class="row">
            <!-- box sp -->
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/a.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Ông Già Và Biển Cả - Ernest Hemingway</h5>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/8935230008897.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Chiến Tranh Và Hòa Bình - Leo Tolstoy</h5>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/khong-gia-dinh.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Không Gia Đình - Hector Malot</h5>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-0 shadow-sm mb-3">
                            <!-- Hiển thị ảnh cơ bản -->
                            <div class="bg-light d-flex justify-content-center align-items-center" style="height: 400px;">
                                <img src="./img/768e01954281011abaa7baf062ad45fc.jpg" alt="" class="mw-100 mh-100">
                            </div>
                            <!-- Hiển thị text và button -->
                            <div class="card-body text-center">
                                <h5 class="card-title">Cuộc Đời Của Pi - Yann Martel</h5>
                                <div class="d-flex justify-content-center align-items-center mb-3">
                                    <span class="fw-bold text-primary me-2">800.000đ</span>
                                    <span class="text-danger text-decoration-line-through">950.000đ</span>
                                </div>
                                <div class="product-buttons">
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100 mb-2">Mua Ngay</a>
                                    <a href="#!chitietsp" class="btn btn-outline-danger rounded-pill w-100 mb-2">Chi Tiết</a>
                                    <a href="xacnhan.html" class="btn btn-danger rounded-pill w-100">Thêm Vào Giỏ Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>